<div class="page-header">
  <div class="page-title">
    <h4>Purchase Return List</h4>
    <h6>Manage your Returns</h6>
  </div>
  <div class="page-btn">
    <a [routerLink]="routes.createPurchaseReturn" class="btn btn-added">
      <img src="assets/img/icons/plus.svg" alt="img" class="me-2" />Add Purchase
      Return
    </a>
  </div>
</div>
<!-- /product list -->
<div class="card">
  <div class="card-body">
    <div class="table-top">
      <div class="search-set">
        <div class="search-path">
          <a
            (click)="showFilter = !showFilter"
            [class.setclose]="showFilter == true"
            class="btn btn-filter"
            id="filter_search"
          >
            <img
              *ngIf="showFilter == false"
              src="assets/img/icons/filter.svg"
              alt="img"
            />
            <span
              ><img
                *ngIf="showFilter == true"
                src="assets/img/icons/filter.svg"
                alt="img"
            /></span>
          </a>
        </div>
        <div class="search-input">
          <a class="btn btn-searchset"
            ><img src="assets/img/icons/search-white.svg" alt="img"
          /></a>
          <div class="dataTables_filter">
            <label>
              <input
                [(ngModel)]="searchDataValue"
                (ngModelChange)="searchData(searchDataValue)"
                type="search"
                class="form-control"
                placeholder="Search..."
              />
            </label>
          </div>
        </div>
      </div>
      <div class="wordset">
        <ul>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"
              ><img src="assets/img/icons/pdf.svg" alt="img"
            /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"
              ><img src="assets/img/icons/excel.svg" alt="img"
            /></a>
          </li>
          <li>
            <a data-bs-toggle="tooltip" data-bs-placement="top" title="print"
              ><img src="assets/img/icons/printer.svg" alt="img"
            /></a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /Filter -->
    <div
      class="card mb-0 border-0"
      [ngClass]="{
        'show-sub-menu': showFilter == true,
        'hide-sub-menu': showFilter == false
      }"
    >
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <ngx-datepicker [(ngModel)]="date"></ngx-datepicker>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <input type="text" placeholder="Enter Reference" />
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <select class="form-select">
                <option>Choose Supplier</option>
                <option>Supplier</option>
              </select>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6 col-12">
            <div class="form-group">
              <select class="form-select">
                <option>Choose Status</option>
                <option>Inprogress</option>
              </select>
            </div>
          </div>
          <div class="col-lg-1 col-sm-6 col-12 ms-auto">
            <div class="form-group">
              <a class="btn btn-filters ms-auto"
                ><img src="assets/img/icons/search-whites.svg" alt="img"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Filter -->
    <div class="table-responsive">
      <table
        (matSortChange)="sortData($event)"
        matSort
        matSortActive="Sno"
        matSortDirection="asc"
        matSortDisableClear
        class="table datanew"
      >
        <thead>
          <tr>
            <th>
              <label class="checkboxs" (click)="selectAll(initChecked)">
                <input type="checkbox" [(ngModel)]="initChecked" />
                <span class="checkmarks"></span>
              </label>
            </th>
            <th>Image</th>
            <th mat-sort-header="Date">Date</th>
            <th mat-sort-header="Supplier">Supplier</th>
            <th mat-sort-header="Reference">Reference</th>
            <th mat-sort-header="Status">Status</th>
            <th mat-sort-header="GrandTotal">Grand Total ($)</th>
            <th mat-sort-header="Paid">Paid ($)</th>
            <th mat-sort-header="Due">Due ($)</th>
            <th mat-sort-header="PaymentStatus">Payment Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let return of tableData; let i = index">
            <td>
              <label class="checkboxs">
                <input type="checkbox" [(ngModel)]="return.isSelected" />
                <span class="checkmarks"></span>
              </label>
            </td>
            <td>
              <a class="product-img">
                <img [src]="return.Image" alt="product" />
              </a>
            </td>
            <td>{{ return.Date }}</td>
            <td>{{ return.Supplier }}</td>
            <td>{{ return.Reference }}</td>
            <td>
              <span
                [ngClass]="{
                  'bg-lightgreen': return.Status === 'Received',
                  'bg-lightred': return.Status === 'Pending',
                  'bg-lightyellow': return.Status === 'Ordered'
                }"
                class="badges"
                >{{ return.Status }}</span
              >
            </td>
            <td>{{ return.GrandTotal }}</td>
            <td>{{ return.Paid }}</td>
            <td>{{ return.Due }}</td>
            <td>
              <span
                [ngClass]="{
                  'bg-lightgreen': return.PaymentStatus === 'Paid',
                  'bg-lightred': return.PaymentStatus === 'UnPaid',
                  'bg-lightyellow': return.PaymentStatus === 'Partial'
                }"
                class="badges"
                >{{ return.PaymentStatus }}</span
              >
            </td>
            <td>
              <a class="me-3" [routerLink]="routes.editPurchaseReturn">
                <img src="assets/img/icons/edit.svg" alt="img" />
              </a>
              <a
                (click)="deleteBtn()"
                class="me-3 confirm-text"
                href="javascript:void(0);"
              >
                <img src="assets/img/icons/delete.svg" alt="img" />
              </a>
            </td>
          </tr>
          <tr *ngIf="tableData.length === 0">
            <td colspan="12">
              <h5 class="no-record">No matching records found</h5>
            </td>
          </tr>
        </tbody>
      </table>
      <custom-pagination></custom-pagination>
    </div>
  </div>
</div>
<!-- /product list -->
