<div class="page-header">
    <div class="page-title">
        <h4>Gestion de Cliente</h4>
        <h6>Crear/Actualizar Cliente</h6>
    </div>
</div>
<!-- /add -->
<form [formGroup]="formularioCliente">
    <div class="card">
        <div class="card-body">
            <div class="cuenta_cliente">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Cuenta Cliente</label>
                        <input type="text" formControlName="cuentaCliente" (input)="transformInputToUppercase($event)"
                            name="cuentaCliente">
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- SECCION 1 -->
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Nombre Cliente</label>
                        <input type="text" formControlName="razonSocial" (input)="transformInputToUppercase($event)"
                            name="razonSocial">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Numero Identificacion</label>
                        <input type="text" formControlName="ruc">
                    </div>
                </div>
                <!-- SECCION 2 -->
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="email">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Celular</label>
                        <input type="text" formControlName="telefono1">
                    </div>
                </div>
                <!-- SECCION 3  -->
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Sexo</label>
                        <input type="text" formControlName="sexo" (input)="transformInputToUppercase($event)"
                            name="sexo">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Titulo</label>
                        <input type="text" formControlName="titulo" (input)="transformInputToUppercase($event)"
                            name="titulo">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Profesion</label>
                        <input type="text" formControlName="profesion" (input)="transformInputToUppercase($event)"
                            name="profesion">
                    </div>
                </div>
                <!-- SECCION SELECT PAIS -->
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Pais</label>
                        <mat-select class="select-input" formControlName="pais" placeholder="Selecciona el pais">
                            <mat-option *ngFor="let i of pais" [value]="i.pais" (onSelectionChange)="seleccioner(i,1)">
                                {{i.pais}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Provincia</label>
                        <mat-select class="select-input" formControlName="provincia"
                            placeholder="Selecciona el provincia">
                            <mat-option *ngFor="let i of provincia" [value]="i.provincia"
                                (onSelectionChange)="seleccioner(i,2)">
                                {{i.provincia}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Ciudad</label>
                        <mat-select class="select-input" formControlName="ciudad" placeholder="Selecciona el Ciudad">
                            <mat-option *ngFor="let i of ciudad" [value]="i.ciudad"
                                (onSelectionChange)="seleccioner(i,3)">
                                {{i.ciudad}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Parroquia</label>
                        <mat-select class="select-input" formControlName="parroquia"
                            placeholder="Selecciona el Parroquia">
                            <mat-option *ngFor="let i of parroquia" [value]="i.parroquia"
                                (onSelectionChange)="seleccioner(i,4)">
                                {{i.parroquia}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <!-- SECCION DIRECCION  -->
                <div class="col-lg-12 col-12">
                    <div class="form-group">
                        <label>Direccion</label>
                        <input type="text">
                    </div>
                </div>
                <!-- SECCION  -->
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Representante Legal</label>
                        <input type="text" formControlName="representanteLegal"
                            (input)="transformInputToUppercase($event)" name="representanteLegal">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Representante Cedula</label>
                        <input type="text" formControlName="representanteCedula"
                            (input)="transformInputToUppercase($event)" name="representanteCedula">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12">
                    <div class="form-group">
                        <label>Representante Telefono</label>
                        <input type="text" formControlName="representanteTelefono"
                            (input)="transformInputToUppercase($event)" name="representanteTelefono">
                    </div>
                </div>
                <!-- SECCION DE DESCRIPCION -->
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Descripcion</label>
                        <textarea class="form-control" formControlName="comenta"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <a class="btn btn-submit me-2" style="color: white;" (click)="crearCliente()">{{boton}}</a>
                    <a class="btn btn-cancel" (click)="salir()" style="color: white;">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- /add -->