<div class="cardhead">


    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Rating</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="routes.dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active">Rating</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
        <!-- Rating -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Default Rating</h5>
                </div>
                <div class="card-body">
                    <p>This is the most basic example of ratings.</p>
                    <div class="rating rating-default">
                        <ng-container *ngFor="let item of basicStar; let i = index">
                            <img *ngIf="item.show == false" (click)="clickBasicStar(item, i, basicStar)" class="me-1"
                                src="assets/img/ratings/star-off.png" />
                            <img *ngIf="item.show == true" (click)="clickBasicStar(item, i, basicStar)" class="me-1"
                                src="assets/img/ratings/star-on.png" />
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Rating -->

        <!-- Rating -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Score</h5>
                </div>
                <div class="card-body">
                    <p>Stars with a saved rating.</p>
                    <div class="rating rating-score">
                        <ng-container *ngFor="let item of savedStar; let i = index">
                            <img *ngIf="item.show == false" (click)="clickBasicStar(item, i, savedStar)" class="me-1"
                                src="assets/img/ratings/star-off.png" />
                            <img *ngIf="item.show == true" (click)="clickBasicStar(item, i, savedStar)" class="me-1"
                                src="assets/img/ratings/star-on.png" />
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Rating -->

        <!-- Rating -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Max Number</h5>
                </div>
                <div class="card-body">
                    <p>Change the max numbers of stars</p>
                    <div class="rating rating-number">
                        <ng-container *ngFor="let item of maxStar; let i = index">
                            <img *ngIf="item.show == false" (click)="clickBasicStar(item, i, maxStar)" class="me-1"
                                src="assets/img/ratings/star-off.png" />
                            <img *ngIf="item.show == true" (click)="clickBasicStar(item, i, maxStar)" class="me-1"
                                src="assets/img/ratings/star-on.png" />
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Rating -->

        <!-- Rating -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Read Only</h5>
                </div>
                <div class="card-body">
                    <p>Prevent users from voting</p>
                    <div class="rating rating-read-only2">
                        <ng-container *ngFor="let item of readOnlyStar; let i = index">
                            <img *ngIf="item.show == false" src="assets/img/ratings/star-off.png" class="me-1"/>
                            <img *ngIf="item.show == true" src="assets/img/ratings/star-on.png" class="me-1"/>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Rating -->

        <!-- Rating -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Half Rating</h5>
                </div>
                <div class="card-body">
                    <p>You can represent a float score as a half star icon.</p>
                    <div class="rating rating-half-enable">
                        <ng-container *ngFor="let item of halfRatingStar; let i = index">
                            <img *ngIf="item.show == false && item.half == false"
                                (click)="clickBasicStar(item, i, halfRatingStar)" class="me-1"
                                src="assets/img/ratings/star-off.png" />
                            <img *ngIf="item.show == true" (click)="clickBasicStar(item, i, halfRatingStar)" class="me-1" 
                                src="assets/img/ratings/star-on.png" />
                            <img *ngIf="item.half == true" src="assets/img/ratings/star-half.png" />
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Rating -->

        <!-- Rating -->
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Custom Icon</h5>
                </div>
                <div class="card-body">
                    <p>Use any icon you want.</p>
                    <div class="rating rating-custom-icon">
                        <ng-container *ngFor="let item of heartIcon; let i = index">
                            <img *ngIf="item.show == false" (click)="clickBasicStar(item, i, heartIcon)" class="me-1"
                                src="assets/img/ratings/like-off.png" />
                            <img *ngIf="item.show == true" (click)="clickBasicStar(item, i, heartIcon)" class="me-1"
                                src="assets/img/ratings/like-on.png" />
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Rating -->
    </div>


</div>